[submodule "Dependencies/IPlug/VST3_SDK"]
	path = Dependencies/IPlug/VST3_SDK
	url = git@github.com:steinbergmedia/vst3sdk.git
[submodule "IPlug/Extras/RARClasses"]
	path = IPlug/Extras/RARClasses
	url = https://github.com/RAR-AUDIO/RAR_Classes.git
